.header {
  background-color: var(--color-header);
  &__top {
    background-color: var(--color-dark);
    color: var(--color-light);
  }
  &__bottom {
    background-color: var(--color-light);
    @extend %center-x-container;
    color: var(--color-dark);
    box-shadow: var(--box-shadow-header);
  }
}
.top-bar {
  font-size: 1.25rem;
  font-weight: 800;
  padding: 1.6rem 0;
  &__center-box {
    margin: var(--gutter-horizontal-container-md);
    display: flex;
    // background-color: palegoldenrod;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  &__list {
    // background-color: rgb(63, 100, 53);
    position: absolute;
    left: 0;
    display: flex;
    gap: 1.1rem;
  }
  &__item {
    // background-color: paleturquoise;
  }
  &__link {
  }
  &__p {
    // background-color: red;
  }
}

.nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  &__col {
    &:last-of-type {
      justify-content: end;
    }
  }
  &__list-text {
    // background-color: rgb(94, 227, 152);
    display: flex;
    list-style: none;
    gap: 2.4rem;
  }
  &__item-text {
  }
  &__link-text {
  }
  &__list-icons {
    display: flex;
    gap: 3.2rem;
    margin-top: 0.5rem;
    align-items: center;
  }
  &__item-icon {
    &:last-of-type {
      padding-right: 1rem;
    }
  }
  &__link-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  &__svg-icon {
  }
  &__logo-box {
  }
  &__logo-link {
    height: 2.2rem;
  }
  &__logo-img {
  }
}
