@import "abstracts/mixins";
@import "abstracts/variables";
@import "base/base";
@import "base/typography";
@import "base/utilities";
@import "layouts/grid";
@import "layouts/header";
@import "layouts/main";
@import "components/btns";
@import "layouts/footer";
@import "pages/home";

.heart__svg {
  background-color: rosybrown;
  width: 4rem;
  height: 4rem;
  fill: black;
}
